@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

::selection {
  @apply bg-blue-600 text-white;
}
